<settings>
  <!-- <proxies>
    <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.mycompany.com</host>
      <nonProxyHosts>mycompany.com</nonProxyHosts>
   </proxy>
  </proxies> -->

<servers>
  <server>
    <id>maven.oracle.com </id>
    <username>vikramsinghsengar007@gmail.com</username>
    <password>{sTqfPWH89JYHxRK5yWeOXPbc42hUy97IYdzGG8ornII=}</password>
  <configuration>
    <basicAuthScope>
      <host>ANY </host>
      <port>ANY </port>
      <realm>OAM 11g </realm>
    </basicAuthScope>
    <httpConfiguration>
      <all>
      <params>
        <property>
          <name>http.protocol.allow-circular-redirects </name>
          <value>%b,true </value>
        </property>
      </params>
      </all>
    </httpConfiguration>
  </configuration>
  </server>
  </servers>
</settings>